*{
    padding: 0px;
    margin: 0 auto;
}


header{
    width: 100%;
    background-color: #444444;
}

nav{
    width: 960px;
    display: flex;
    justify-content: space-between;
}

nav .logo{
    width: 200px;
    height: 70px;
    background-color: #000000;
}

nav ul{
    padding: 25px 0px;
}

nav ul li{
    list-style-type: none;
    display: inline;
    color: #888888;
    padding: 0px 30px;
}



#box1{
    width: 940px;
    height: 450px;
    background-color: #000000;
    margin-top:30px
}

#box2{
    width: 960px;
    height: 450px;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
}

#box2 .box{
    width: 300px;
    height: 375px;
    background-color: #000000;
}

#box3{
    width: 960px;
    height: 450px;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
}

#box3 .box1{
    width: 480px ;
    height: 400px;
    background-color: #000000;
}

#box3 .box2{
    width: 690px ;
    padding: 30px;
    text-align: justify;
}

#box3 .box2 button{
    background-color: #000000;
    padding: 5px 10px;
    border: none;
    color:white;
    margin-top: 30px;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 70px;
    background-color: #444444;
    margin-top: 30px;
}
